<!-- templates/En_vivo.html -->
<body>
	<div>
		<header>
		{% load static %} <img src="{% static "/blog/media/MARCA.png" %}" alt="Logo" />
		<center><h2><a href="{%url 'home' %}">Participa con tu opinion </a></h2>
		{% load static %} <img src="{% static "/blog/media/grupos.jpg" %}" alt="Logo" />
		{% load static %} <img src="{% static "/blog/media/calendario.png" %}" alt="Logo" />
		<iframe width="1300" height="600" src="https://cdnqa.jeinzmacias2.xyz/01.php" title="EMIRATOS ARABES UNIDOS VS ARGENTINA EN VIVO 🔴 - JUEGA MESSI - AMISTOSO INTERNACIONAL 2022" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
		</header>
	</div>
</body>